* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    margin: 10px;
    font-size: 1rem;
}
.heading {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
pre {
    margin-top: 0;
}
h2 {
    margin: 0;
}
#wrapper {
    width: 100%;
}
input {
    float: right;
}
.input {
    width: 20%;
    text-align: right;
}
.text {
    width: 80%;
    text-align: left;
}
tr {
    padding: 15px;
    margin: 5px;
    transition: background-color 0.5s;
}
tr:hover {
    border-radius: 20px;
    /* background: rgba(0, 0, 0, 0.1); */
    background: #00b03f33;
}
.spacer {
    height: 100%;
    margin-left: 20px;
}