* {
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    font-size: 1rem;
}

.heading {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

pre {
    margin-top: 0;
}

h1 {
    margin: 0;
}

/* Options pane */

#wrapper {
    width: 100%;
}

#wrapper>div {
    padding: 15px;
    margin: 5px;
    border-radius: 20px;
    transition: background-color 0.5s;
    display: flex;
    align-items: center;
}

#wrapper>div:hover {
    /* background: rgba(0, 0, 0, 0.1); */
    background: rgba(90, 131, 255, 0.25);
}

div[data-spacer="1"] {
    padding-left: 2.5rem !important;
}

div[data-spacer="2"] {
    padding-left: 5rem !important;
}

#wrapper input {
    margin: 0.5rem;
}

div.no-checkbox-wrapper {
    flex-direction: column;
    align-items: start !important;
}

div.no-checkbox-wrapper>input, div.no-checkbox-wrapper>.sp-replacer {
    order: 1;
    margin: 1rem;
}

div input[type="range"] {
    width: 80%;
    background: none;
}

/* Custom inputs */

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
    input[type='checkbox'], input[type="range"]
        {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

input[type="checkbox"] {
    position: relative;
    border-radius: 25%;
    border: rgb(8, 18, 48) solid 1px;
    width: 16px;
    height: 16px;
    background: white;
    transition: border-color 0.1s ease-out;
}

input[type="checkbox"]:checked {
    border-color: rgb(39, 94, 254);
}

input[type="checkbox"]::after {
    position: absolute;
    border-radius: 100%;
    content: "";
    left: 2px;
    top: 2px;
    width: 10px;
    height: 10px;
    transition: background-color 0.1s ease-out;
}

input[type="checkbox"]:checked::after {
    background: rgb(39, 94, 254);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid rgb(39, 94, 254);
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7.5px;
    transition: border-width 0.1s ease-out;
}

input[type=range]:focus::-webkit-slider-thumb {
    border-width: 3px;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid rgb(39, 94, 254);
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #204d74;
    border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #204d74;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #204d74;
    border-radius: 1.3px;
}

/* Button section */

#resetBtn {
    padding: 3px;
    margin: 2px;
    background: red;
    color: white;
    border: rgb(177, 0, 0) solid 2px;
}