html {
    width: max-content;
    height: max-content;
    max-width: 100vw;
}
body {
    width: max-content;
    height: max-content;
    max-width: 100vw;
}

/* Extra styles for firefox mobile */
input[type="range"]::-moz-range-track {
    height: 1px;
    width: 100%;
    background: black;
}