meta(charset="utf-8")
base(href="https://samclercky.github.io/Dyxitool/")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
link(rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.1/normalize.css")
link(rel="stylesheet" type="text/css" href="/styles.css")
