section
    article
        h2 Contribute
        p
            | If you like this project and want to add your own contribution,
            | discover how you do this on
            a(href="https://github.com/SamClercky/Dyxitool")
                button Github
            | and help develop a better world
            | where people with dyslexia can read more easily.
        a(href="https://github.com/SamClercky/Dyxitool")
            button Go to Github
    img(src="/img/github.png" alt="Fork me on github picture")