section
    img(src="img/download.png" alt="Download here")
    article
        h2 Download me
        p
            | Click on the appropriate download-link below to go to the download-page. If you like it, don't
            | forget to comment. (
            a(href="https://chrome.google.com/webstore/") Chrome Web Store
            | listing comming soon)
        a(href="https://addons.mozilla.org/en-US/firefox/addon/dyxitool/")
            img.download-button(alt="Download for Firefox" src="img/AMO-btn.png")