section
    article
        h2 Main features
        p The extension provides at this moment 3 main features:
        h3 1. OpenDyslexic-font
        p Change all fonts to OpenDyslexic
        h3 2. Special background
        p
            | When you move your cursor over the text the background will
            | change so you can read it more easily. You can customize the
            | color to wathever you like
        h3 3. Forced markup
        p
            | This feature makes websites which are hard to read more readable. This is not always an
            | improvement, but can make in some situations a difference.
            | (This is why the feature is turned off by default.)
    img(src="img/Schermafdruk van 2019-08-31 17-18-49.png" alt="Preview of features")