section
    article
        h2 Disclaimer
        p
            | This software is opensource and free to use under a GPL v2 license. For the OpenDyslexic-font you can
            | go to
            a(href="https://opendyslexic.org/legal/")
                button opendyslexic.org.
            | I am a hobbyist and I do not have any connections with OpenDyslexic. For futher information, please
            | click the link below
        p
            | If you find any legal issues in or around the extension, please
            | file a issue on the
            a(href="https://github.com/SamClercky/Dyxitool/issues")
                button issues tab
            | on Github.
        a(href="https://github.com/SamClercky/Dyxitool/blob/master/LICENSE")
            button Go to license