section
    article
        h2 More details
        p
            | For more details, you can always go and checkout the
            a(href="https://github.com/SamClercky/")
                button Github Repo
            | to find a more in deth analyses of the changes made to this update.
        a(href="https://github.com/SamClercky/")
                button Go to the Github Repo