section
    img(src="/img/Schermafdruk van 2019-08-31 17-21-28.png" alt="Preview of the settings")
    article
        h2 Customize everything
        p
            | We spent a lot of time making everything easy to use.
            | You have the ability to change everything to your liking.