body {
    font-size: 1.2rem;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: max-content;
    overflow-x: hidden;
    color: #555;
}
h2, h3, h4, h5, h6 { /* h1 has it one styles further */
    color: #333;
}
#frontPage {
    display: block;
    background-color: black;
    background-image: url("desktop.png");
    background-size: 40%;
    background-position: 30% 3%;
}
section {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
main {
    padding: 0px;
    min-height: 100vh;
}
section:last-child:after {
    height: 3rem;
}
section img {
    width: 45%;
    margin: auto;
}
section article, main article {
    width: 50%;
    margin: auto;
}
section:nth-child(odd) {
    background: #3cab3b;
}
section:nth-child(even) {
    background: #fff;
}
header {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    min-height: 50vh;
}
header div {
    margin: auto;
    width: 100%;
}
header div h1 {
    font-size: 4.5rem;
    margin: 0;
    padding: 5px;
}
header div pre {
    font-size: 2.5rem;
    white-space: normal;
}
.con {
    background: #3cab3b;
    min-height: 50vh;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
article {
    background: rgba(255, 255, 255, 0.75);
    width: 50%;
    margin: auto;
    padding: 10px;
}
article img {
    width: 100%;
}
.shadow {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Linkaction styles */
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
}
button:not(.download-button) {
    background: none;
    border: none;
    font-size: 1rem;
    text-align: center;
    color: #333;
}
button:not(.download-button)::after {
    content: "";
    position: relative;
    display: block;
    left: -2.5%;
    bottom: 0px;
    width: 15%;
    height: 4px;
    background: #3cab3b;
    transition: width 0.25s;
}
button:not(.download-button):hover::after {
    width: 105%;
}
/* Trip specific styles */
.trip-prev, .trip-skip, .trip-next {
    width: fit-content;
    margin-left: 10%;
    margin-right: 10%;
}
/* Try me-button */
@keyframes tryMeAnimation {
    to {
        bottom: 10px;
    }
}
@-webkit-keyframes tryMeAnimation {
    to {
        bottom: 10px;
    }
}
@-moz-keyframes tryMeAnimation {
    to {
        bottom: 10px;
    }
}

#tryMeWrapper {
    position: fixed;
    display: flex;
    z-index: 9999;
    right: 0px;
    bottom: -5rem;
    width: 30%;
    animation: tryMeAnimation 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
#tryMe {
    min-width: max-content;
    margin: auto;
    font-size: 2.5rem;
    width: 95%;
    background: white;
    box-shadow: rgb(37, 37, 37) 0px 0px 10px; 
    padding: 0px;
}
button#tryMe::after {
    left: 0px;
}
button#tryMe:hover::after {
    width: 100%;
    left: 0px;
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
    grid-area: footer;
    box-shadow: rgba(76, 76, 76, 0.5) 0px 0px 6px;
    background: white;
    padding: 10px;
    margin-top: 1rem;
    justify-content: center;
    align-content: center;
    min-height: 25vh;
}
footer span.heart {
    color: red;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-weight: bolder;
}
footer p {
    text-align: center;
}

/* Mobile */
@media screen and (max-width: 800px) {
    /* Sections */
    section {
        flex-direction: column;
    }
    section img {
        width: 90%;
        order: 0;
        margin-bottom: 10px;
    }
    section article, main article {
        width: 90%;
        order: 1;
    }

    /* Actionlinks */
    button:not(.download-button)::after {
        width: 105%;
    }

    /* Try me-button */
    #tryMeWrapper {
        left: 0px;
        width: 100%;
    }
    button#tryMe::after {
        width: 100%;
        left: 0px;
    }
}