doctype html
html(lang="en")
    head
        include includes/commonheaders.pug
        title Leaving Dyxitool
    body
        #fullpage
            main#frontPage
                header
                    div
                        h1 Dyxitool
                        pre We hope to see you back some time
                .con
                    article.shadow
                        h2 Please tell us why you leave
                        p
                            | Please tell us why you leave, so we
                            | can improve our product.
                        a(href="https://github.com/SamClercky/Dyxitool/issues")
                            button Tell us why
            include includes/footer.pug
                        