doctype html
html(lang="en")
    head
        include includes/commonheaders.pug
        title Welcome to Dyxitool
    body
        #fullpage
            main#frontPage
                header
                    div
                        h1 Dyxitool
                        pre Thanks for installing :)
                .con
                    article.shadow
                        h2 Let's configure
                        p
                            | You can find the settings in the upper
                            | right corner.
                        img(src="img/desktop_install.png" alt="Desktop install")
                        p
                            | Or when you are on mobile, you can find
                            | the settings down the list when you click
                            | the 3 dots.
                        img(src="img/mobile_install.png" alt="Mobile install")
            include includes/features.pug
            include includes/contribute.pug
            include includes/footer.pug
        